html {scroll-behavior: smooth;}

body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
}
.nojs-page {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}
h3 img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}
h3 {
    padding: 10px;
    text-align: center;
}
h3 a {
    color: #333;
    text-decoration: none;
}
h3 a:hover {
    text-decoration: underline;
}
.app-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color:rgb(245, 245, 245);
    border-radius: 8px;
}
.app-info img {
    height: 100px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.app-info h2 {
    margin: 0;
}
.app-info ul {
    list-style: none;
    padding: 0;
}
.app-info .app-icon {
    margin-right: 20px;
    padding: 20px;
    min-width: 150px;
}
.app-info h2 {
    padding-bottom: 20px;
}
.app-info .info {
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
}
.app-icon span, .info span {
    font-size: 0.8em;
    color: #666;
}
.info code {
    max-width: 150px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}
table td:first-child {
    padding: 2px;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
    padding-right: 15px;
}
.links {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 10px;
}
/* links a is in embedded styles */
.links a:hover {
    background-color: #007bff;
}
.screenshots {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.screenshots img {
    max-width: 350px;
    border-radius: 8px;
    border: 4px solid transparent;
}
.screenshots img:hover {
    border: 4px solid #007bff;
}
footer {
    text-align: center;
    padding: 20px;
    font-size: 0.8em;
    color: #666;
}
footer a {
    color: #007bff;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
.description p {
    margin-left: 20px;
    margin-right: 20px;
}
.app-listing .app-info {
    flex-wrap: nowrap;
    justify-content: flex-start;
    border: 4px solid transparent;
}
.app-listing .app-info h2 {
    padding: 0px;
}
.info.listing-info {
    width: 100%;
}
.app-listing a {
    text-decoration: none;
    color: #333;
    margin-bottom: 20px;
}
.app-listing .app-info:hover {
    border: 4px solid #007bff;
}
.app-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.app-home a {
    text-decoration: none;
    color: #333;
}
.app-home a:hover {
    text-decoration: underline;
}
.app-home .app-icon {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
.app-home .app-icon img {
    width: 100px;
}
.plat {
    margin-bottom: 10px;
}
.intro {
    margin: 30px;
    margin-bottom: 15px;
}
#root {
    display: none;
}
.letters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}
.letters a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    background-color: #f0f0f0;
    overflow: hidden;
}
.letters a:hover {
    background-color: #007bff;
    color: #fff;
}
.letters a:first-child {
    border-radius: 8px 0 0 8px;
}
.letters a:last-child {
    border-radius: 0 8px 8px 0;
}
.return-to-top {
    display: block;
    position: fixed;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    bottom: 0;
    right: 0;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
}
.updated-sort {
    display: none;
}
.alpha-sort {
    display: block;
}

/* https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked ~ div .slider {
    background-color: #2196F3;
}

input:focus ~ div .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked ~ div .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch:checked ~ .updated-sort,
.switch:not(:checked) ~ .alpha-sort {
    display: block;
}
.switch:not(:checked) ~ .letters  {
    display: flex;
}
.switch:checked ~ .alpha-sort,
.switch:not(:checked) ~ .updated-sort,
.switch:checked ~ .letters {
    display: none;
}

.switch[type=checkbox] {
    opacity: 0;
}

.switch {
    float: left;
}

.switch-container {
    display: inline-block;
    scale: 0.75;
}
.switch-controls {
    text-align: right;
}

.listing-header {
    margin-bottom: 5px;
}

.sorterlabel {
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 50px;
    margin-right: 10px;
}

.slider {
    height: 34px;
    width: 60px;
    margin-top: -36px;
}

.back {
    color: gray;
    text-decoration: none;
    position: absolute;
    margin-top: 34px;
}