body, html, #root, .main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.copyright {
  text-decoration: none;
}
.copyright:link, .copyright:hover, .copyright:active, .copyright:visited {
  color:#111;
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}

.Footer {
  padding: 10px;
  background-color: #eee;
  height: 20px;
  padding-left: 40px;
  padding-right: 40px;
  width: calc(100% - 80px);
  position: fixed;
}

.nav {
  position: fixed;
  z-index: 999;
}

ul {
  position: fixed;
  top: 0;
  width: calc(100%);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #eee;
}

li {
  float: right;
}

li:nth-child(2) {
  padding: 0 40px 0 0;
}

li a {
  display: block;
  color:#111;
  text-align: center;
  padding: 7px 7px;
  text-decoration: none;
  border: 2px solid #eee;
}

li a:hover {
  border-bottom-color: #111;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: #eee; 
  color: #111;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: url(down-256.png) 96% / 10% no-repeat #eee; 
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: 2px;

}

select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 1px #555;
  box-shadow: 0 0 0 2px -moz-mac-focusring;
  color: #222; 
  outline: none;
  background: url(up-256.png) 96% / 10% no-repeat #eee;
  }

  select:hover {
    border-color: #888;
  }

  select option {
    background-color: #555;
    color: #eee;
  }

.left {
  float: left;
}

.right {
  float: right;
}

.main {
  display: flex;
}

.title {
  float:left;
  padding: 10px 0 0 15px;
  font-weight: 600;
}

.platform {
  font-weight: 200;
}

.Sidebar {
  background-color: #555;
  color: white;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 265px;
  position: fixed;
  margin-top: 41px;
  height: calc(100% - 110px);
  overflow: scroll;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.Sidebar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.Sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  padding: 12px;
  padding-left: 50px;
}

.Sidebar a:hover, .Sidebar a.active {
  background-color: #777;
}

.Sidebar a .icon {
  width: 40px;
  font-size: 22px;
  display: inline-block;
}

.AppList, .AppDetails {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.Sidebar ~ div {
  margin-left: 265px;
  margin-top: 50px;
}

.Sidebar ~ div::after {
  padding-bottom: 500px;
  content: "";
}

.AppCardWrapper {
  text-decoration: none;
}

.AppCard {
  margin: 4px;
  width: 256px;
  flex-direction: row;
  flex-grow: 1;
  color: #333;
  margin: 5px;
  margin-bottom: 50px;
  position: relative;
}

.AppCard img:hover {
  filter: saturate(2);
  opacity: 0.7;
}

.AppCard img {
  width: 256px;
  height: 150px;
  position: relative;
}

.AppCard.wiiu img {
  height: 96px;
  position: relative;
}

.AppCard__Title {
  font-weight: 700;
}

.AppCard .right {
  text-align: right;
}

#console {
  max-width: 20px;
  max-height: 20px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.cardright {
  float:right;
  text-align: right;
}

.Footer {
  bottom: 0;
}

.Header svg {
  width: 15px;
  padding-right: 8px;
}

.catTitle {
  font-weight: 400;
  flex: 0 1 100%;
  font-size: 25px;
  padding: 20px 0 20px 40px;
  display: block;
}

.AppList .right {
  padding-right: 40px;
}

button {
  background-color: #555;
  color: #eee;
  border: none;
  padding: 10px;
  font-size: 13px;
  margin-left: 10px;
  font-weight: 500;
  cursor: pointer;
}
button:hover {
  background-color: #777;
}

.catTitle .sort, .catTitle .lesser {
  font-size: 15px;
  color: #777;
}

.AppDetailsInner {
  max-width: 848px;
}

.overlay {
  position: relative;
}

.AppDetails .banner {
  width: 848px;
  height: 208px;
  position: relative;
}

.details {
  padding-bottom: 30px;
  content: "";
}

.AppDetails .details {
  white-space: pre-line;
  width: 600px;
  margin-left: 5px;
  line-height: 1.2;
  min-height: 100px;
}

.changelog {
  min-height: 700px;
  padding-bottom: 100px;
}

.AppDetails .catTitle {
  padding-left: 10px;
}

.row {
  flex-direction: row;
}

.sideHeader {
  color: darkred;
  font-weight: 500;
}

.infoBox {
  width: 195px;
  margin: 15px 0 15px 15px;
  box-sizing: border-box;
}

.infoBox .row {
  background-color: #eee;
  padding: 10px 10px 10px 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.infoBox span {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 10px;
}

.infoBox button {
  width: 100%;
  margin-top: 10px;
  margin-left: 0px;
  display: block;
  font-size: 25px;
}
.menu {
  display:none;
}

/*Mobile Display and Landscape display*/
@media only screen and (max-width: 800px) {
  .Header .right, .Footer .right {
    display: none;
  }

  #dns,#account,#twitter,#discord,#ftu,#submit {
    display:none;
  }

  li:nth-child(2) {
    padding: 0 0 0 0;
  }

  .catTitle button {
    display: none;
  }

  .Sidebar .text {
    display: none;
  }

  .Sidebar {
    width: 80px;
  }

  .Sidebar ~ div {
    margin-left: 80px;
  }

  .Sidebar a {
    padding-left: 25px;
  }

  .AppDetails {
    padding: 20px;
  }

  .AppDetails .infoBox {
    width: 100%;
    margin-right: 0px;
  }

  .AppDetails .banner {
    width: 100%;
    height: unset;
  }

  .AppDetails .details {
    width: 100%;
    margin-left: 0px;
  }
  
  button {
    margin-left: 0px;
  }
}

/*Remove Mobile Icons for Large Displays*/
@media only screen and (min-width: 800px) {
  #m_dns,#m_account,#m_twitter,#m_discord,#m_ftu,#m_submit { 
    display:none;
  }
}

/*Filters for Mobile Portrait*/
@media only screen and (max-width: 600px) {
  #m_dns,#m_account,#m_twitter,#m_discord,#m_ftu,#m_submit { 
    display:none;
  }

  .Sidebar {
    width:0;
  }

  .Sidebar ~ div {
    margin-left: 0;
    margin-top: 50px;
  }

  .AppDetails {
    padding-right: 50px;
  }

  .menu {
    display: unset;
    background: #efefef;
    width: 170px;
    height: 100%;
    padding-left: 20px;
    position: fixed;
    z-index: 9999;
    -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    right: -160px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    color: #222;
  }
  .menu:hover, .menu:focus, .menu:active {
    transform: translate3d(-130px, 0, 0);
    animation-timing-function: 1s ease-in;
  }
  .menu .title {
    position: absolute;
    top: 7%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: rotate(270deg);
    left: -20px;
    font-weight: 600;
    font-size: 15px;
  }
  .menu .navmenu {
    position: absolute;
    top: 25%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: 100;
  }
  .menu .navmenu li {
    padding: 0 60px 1px 0;
    list-style-type: none; 
    float: none;
    font-weight: 600;
    font-size: 25px;
  }
  
  .menu .navmenu li a {
    display: block;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }
  .menu .navmenu li a:hover {
    color: #222;
  }
}