.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}

.AppList {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.AppCard {
  margin: 10px;
  width: 256px;
  flex-direction: row;
  flex-grow: 1;
}